*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body{
    background-image: url("../pictures/bg3.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: rgb(232, 232, 232);
    border: 3px solid black;
    border-radius: 20px;
    padding: 50px;
    font-size: 1.5rem ;
}

.textarea_class{
    display: flex;
    justify-content: center;
    transform: translate(-6%);
}
.textarea_class label{
    margin: 5px;
}
.textarea_class textarea{
    font-size: 1rem;
    border-radius: 20px;
    padding: 5px;
}

.keresz_csalad_nev{
    display: block;
    margin: 10px;
}

.keresz_csalad_nev label{
    margin-left: 20px;
}

.radio label{
    margin: 5px 10px;
}

#check1{
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    margin: 5px 20px;
    font-size: 1.4rem;
    border-radius: 12px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid black;
    transition: 0.3s;
}

.buttons button:hover{
    background-color: #000;
    color: #fff;
}

input[type="text"], input[type="email"]{
    height: 30px;
    font-size: 16px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

